.container {
    border: 5px solid;
    display: flex;
    border-color: orange;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > div {
    margin: 5px;
    flex: auto;
}

.container > .item2 {
    flex: 2 1 auto;   
}

.item1 {
    background-color: aqua;
}

.item2 {
    background-color: blanchedalmond;
}

.item3 {
    background-color: blueviolet;
}